# FirebaseDemo App ignored files
FirebaseDemo/app/google-services.json
FirebaseDemo/.idea/

# TickTockOnline Game App ignore files
TickTockOnline/.idea/
TickTockOnline/app/google-services.json

# ContactMeApp ignore files
ContactMeApp/.idea/